<div class="lane">
  <div class="header">
    <div class="title">{{ labelId | translate }}</div>
    <div class="buttons">
      <button *ngIf="isAddCardEnabled()" class="btn btn-sm btn-primary" (click)="showAddCardModal()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </div>
  <div class="cards">
    <div *ngFor="let task of filteredTasks">
      <card [task]="task"></card>
    </div>
  </div>
</div>

<div *ngIf="isAddCardEnabled()" bsModal #addCardModal="bs-modal"
  class="modal fade"
  [config]="{backdrop: 'static'}"
  tabindex="-1"
  role="dialog" aria-labelledby="addCardModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <ng-template [ngTemplateOutlet]="addCardTitleTemplate" [ngOutletContext]="{modal: addCardModal}"></ng-template>
        </h4>
      </div>
      <div class="modal-body">
        <ng-template [ngTemplateOutlet]="addCardFormTemplate" [ngOutletContext]="{modal: addCardModal}"></ng-template>
      </div>
    </div>
  </div>
</div>
