@import "../../../common.less";
:host {
  .maximizeRelative();
  .lane {
    background-color: @colorLaneBackground;
    border-radius: 4px;
    padding: 10px;
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 10px;
      .title {
        font-weight: bold;
        font-size: 125%;
      }
      .buttons {
      }
    }
    .cards {
    }
  }
  .modal {
  }
}
