<form class="form-horizontal" [formGroup]="taskForm" (ngSubmit)="submit(taskForm)">
  <form-field fieldId="name" labelId="form.task.field.name.label" [form]="taskForm">
    <ng-template #control>
      <input formControlName="name"
        type="input"
        class="form-control"
        placeholder="{{ 'form.task.field.name.placeholder' | translate }}"
        [focus]="focusEventEmitter">
    </ng-template>
  </form-field>
  <form-field fieldId="description" labelId="form.task.field.description.label" [form]="taskForm">
    <ng-template #control>
      <textarea formControlName="description"
        type="input"
        class="form-control"
        placeholder="{{ 'form.task.field.description.placeholder' | translate }}"></textarea>
    </ng-template>
  </form-field>
  <form-buttons
    submitId="form.task.button.create"
    cancelId="form.task.button.cancel"
    [form]="taskForm"
    (onCancel)="cancel()"></form-buttons>
</form>
