<form class="form-horizontal" [formGroup]="taskForm" (ngSubmit)="submit(taskForm)">
  <input formControlName="id" type="hidden">
  <form-field fieldId="name" labelId="form.task.field.name.label" [form]="taskForm">
    <ng-template #control>
      <input formControlName="name"
        type="input"
        class="form-control"
        [placeholder]="'form.task.field.name.placeholder' | translate">
    </ng-template>
  </form-field>
  <form-field fieldId="status" labelId="form.task.field.status.label" [form]="taskForm">
    <ng-template #control>
      <select formControlName="status"
        class="form-control">
        <option value="CREATED">Created</option>
        <option value="ON_HOLD">On Hold</option>
        <option value="IN_PROCESS">In Process</option>
        <option value="DONE">Done</option>
      </select>
    </ng-template>
  </form-field>
  <form-field fieldId="description" labelId="form.task.field.description.label" [form]="taskForm">
    <ng-template #control>
      <textarea formControlName="description"
        type="input"
        class="form-control"
        [placeholder]="'form.task.field.description.placeholder' | translate"></textarea>
    </ng-template>
  </form-field>
  <form-buttons
    submitId="form.task.button.save"
    cancelId="form.task.button.cancel"
    [form]="taskForm"
    (onCancel)="cancel()"></form-buttons>
</form>
