<div class="form-group" [ngClass]="{'has-error': form.controls[fieldId].invalid}">
  <label for="task" class="col-sm-2 control-label">
    {{ labelId | translate }}
  </label>
  <div class="col-sm-10 control">
    <ng-template [ngTemplateOutlet]="controlTemplate"></ng-template>
  </div>
</div>
