<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" [class]="submitClass" [disabled]="form.pristine || form.invalid" (click)="doOnSubmit()">
      <span class="glyphicon glyphicon-plus"></span> {{ submitId | translate }}
    </button>
    <button type="button" [class]="cancelClass" (click)="doOnCancel()">{{ cancelId | translate }}</button>
  </div>
</div>
