@import "../common.less";
:host {
  .maximizeAbsolute();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  header {
    flex: 0;
  }
  section {
    flex: 1;
  }
}
