<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar"
        aria-expanded="false"
        (click)="toggleMenu()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ 'app.title' | translate }}</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar" [ngClass]="{ 'in': menuOpened }">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']"><a [routerLink]="['/dashboard']">{{ 'page.dashboard.link' | translate }}</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/history']">{{ 'page.history.link' | translate }}</a></li>
      </ul>
      <!--
      <ul class="nav navbar-nav navbar-right">
         <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> {{ 'page.login.link' | translate }}</a></li>
      </ul>
     -->
    </div>
  </div>
</nav>
