@import "../node_modules/bootstrap/less/bootstrap.less";

@colorBodyBackground: cadetblue;
@colorCardBackground: @gray-lighter;
@colorFormControlInvalidBackground: @state-danger-bg;
@colorLaneBackground: @gray-light;

.maximizeAbsolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.maximizeRelative {
	height: 100%;
 	width: 100%;
 	margin: 0;
 	padding: 0;
}
