@import "common.less";
html {
  .maximizeAbsolute();
  body {
    .maximizeAbsolute();
    background: @colorBodyBackground;
  }
}

form {
  .form-group.has-error {
    .control {
      input {
        background-color: @colorFormControlInvalidBackground;
      }
    }
  }
}
