@import "../../../common.less";
:host {
  .maximizeRelative();
  .dashboard {
    .maximizeRelative();
    padding: 15px;
    .lanes-container {
      .maximizeRelative();
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      lane {
        margin: 5px;
      }
    }
  }
}
