<div class="dashboard">
  <div class="lanes-container">
    <lane labelId="lane.todo.title" [tasks]="tasks" status ="CREATED">
      <ng-template #addCardTitle>{{ 'lane.todo.title.add-card' | translate }}</ng-template>
      <ng-template #addCardForm let-modal="modal">
        <create-task-form [modal]="modal" [focusEventEmitter]="modal.onShown"></create-task-form>
      </ng-template>
    </lane>
    <lane labelId="lane.on-hold.title" [tasks]="tasks" status="ON_HOLD"></lane>
    <lane labelId="lane.in-process.title" [tasks]="tasks" status="IN_PROCESS"></lane>
    <lane labelId="lane.done.title" [tasks]="tasks" status="DONE"></lane>
  </div>
</div>
